body{
  font-family: Arial, Helvetica, sans-serif;
}

.gmail-button{
    background-color: #0087fc;
    color: white;
    font-weight: bold;
    width: 150px;
    height: 40px;
    border-radius: 3px;
}

.gmail-button p{
    display: flex;
    justify-content: center;
    text-align: center;
    
}